doctype html
html
header
    img(src="../images/gfi.jpg")
    <link rel="shortcut icon" href="./app/favicon.ico">    
    <link rel="stylesheet"    href="../styles/main.css">
  body
h1#footer
script(src="app.js")